<center>
<div class ="col-md-12">

  <h2>Ultimate monster slay app!</h2>
  <hr>
  <h3>
    If you are a king of some lands, brave knight, or just a farmer, this app is for you!
  </h3>
  <hr>
  <h4>
    All you need in one place!<br>
    <hr>
    Now you can easily find all information, about monster you want to slay, and their power. <br>
    Witchers that are avaible in land the monster is, and about their strength.<br>
    And about possibility to slay specific monster by witchers.<br>
  </h4>
  <hr>
  First go and see list of:
  <hr>
  </div>
   <div class ="col-md-4">
     <%= link_to 'Monsters', controller: 'monsters' %><br>
  </div>
  <div class ="col-md-4">
    <%= link_to 'Witchers', controller: 'witchers' %><br>
  </div>
  <div class ="col-md-4">
    <%= link_to 'Lands', controller: 'lands' %><br>
  </div>
